/*
  This applies a light CSS reset to all elements on the page.
  It sets the font for everything to the custom font linked to
  in the page header as well.
*/

.header-link {
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.header-gray-link {
	color: #9DA4AB;
	font-size: 16px;
}



.header-links-left{
	display: inline-block;
	color: white;
	position: relative;
	bottom: 25px;
	left: 10px;
}

.header-links-right {
	display: inline-block;
	color: #90999F;
	float: right;
	padding-top: 22px;
	padding-right: 40px;
}

.header-button-link {
	background-color: #6FBBB7;
	padding: 10px;
	border-radius: 5px;
}

.subheader {
	background-color: #CD8236;
	color: white;
}

.logo-image {
	width: 80px;
}

.header {
	background-color: #39474E;
	padding-left: 70px;
}

.subheader-link {
	color: white;
	text-decoration: none;
}

.subheader-links {
	padding: 15px 0px 15px 70px;
}

.course-title{
	font-size: 3em;
	border-bottom: 4px solid #E5C099;
	margin-left: 70px;
	margin-right: 70px;
}

.tagline {
	color: #CD8338;
	font-size: 26px;
	font-weight: bold;
}

.image-right {
	float: right;
}

.key-points {
	background-color: #E3E7E9;
	position: relative;
	margin-top: 10px;
}

.body-content {
	font-size: 20px;
	line-height: 26px;
	margin-top: 34px;
}

.content {
	margin-left: 70px;
	margin-top: 34px;
	margin-right: 70px;
}

.key-item {
	display: inline-block;
	color: #455259;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	width: 33%;
}

.key-image {
	text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: ff-tisa-web-pro, serif;
}